
body {
  /*background-color: rgb(253,243,231);*/
  background-image: url('./../assets/lakeMist.jpg');
}
/*.backgroundImg {
  background-image: url('./../assets/lakeMist.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: static;
  z-index: -1;
}*/
.titleBox {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*position: absolute;*/
}
.nameBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.nameTitle {
  transition: opacity 2s;
}
.jobTitle {
  transition: opacity 2s;
  transition-delay: .5s;
}
.title-fade {
  opacity: 0;
  transition: opacity 1s;
}
.title-show {
  color: rgb(59,55,56);
  display: inline;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}
.titleSeperator {
  color: rgb(41,112,150);
  font-weight: bold;
  font-size: 2em;
  transition: opacity 1s;
  transition-delay: .5s;
}
.navBox {
  margin-top: 10px;
  background-color: rgb(41,112,150);
  width: 64%;
  display: flex;
  justify-content: space-around;
  padding: 3px 0 3px 0;
  align-items: center;
  transition: opacity 1s;
  transition-delay: 1s;
  margin-bottom: 15px;
}
.navBox-fade {
  opacity: 0;
}
.navButton {
  display: inline;
  margin: 0;
  font-size: 1.1em;
  color: rgb(245,250,252);
}
.navButton:hover {
  cursor: pointer;
  color: rgb(233, 223, 213);
}
.navSeperator {
  margin: 0;
  color: rgb(253,243,231);
}
.contentContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

/* CONTENT */

/*Project - Pacman*/
.projectsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project img {
  height: 150px;
  width: 150px;
  margin-right: 5px;
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.09);
}
.project {
  display: flex;
  margin-right: 20px;
  margin-bottom: 20px;
  visibility: hidden;
  opacity: 0;
  transition: 2s;
}
.project-detail {
  height: 150px;
  width: 300px;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.09);
}
.project-detail h3 {
  text-align: center;
  margin: 4px 0 1px 0;
}
.project-detail p {
  margin: 0 4px 0 4px;
}
.project-pacman h3 {
  font-family: 'Press Start 2P', cursive;
}
.aboutContainer {
  position: absolute;
  display: flex;
  justify-content: center;
}
.about-main {
  height: 400px;
  width: 400px;
  background-color: #FAFAFA;
  margin-right: 5px;
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.09);
}
.about-aside {
  height: 400px;
  width: 200px;
  background-color: rgb(245,250,252);
  margin-left: 5px;
  box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.09);
}
















/**/
