* {
  border: 1px solid black;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
.backgroundDiv {
  height: 100vh;
  width: 100vw;
  background-image: url("assets/lakeMist.jpg");
  background-size: 100% 100%;
  position: fixed;
  z-index: -10;
}
.main-container {
}
.content-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-container {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5px;
}
.window-container {
  height: 70vh;
}
.nav-container .card-expanded {
  width: 25px;
  height: 25px;
  margin-bottom: 10px;
}

.nav-container .card-collapsed {
  height: 0px;
  visibility: hidden;
}
.window-container .card-expanded{
  width: 60vw;
  height: 100%;
}
.window-container .card-collapsed {
  height: 0px;
  visibility: hidden;
  z-index: -5;
}
.card {
  background-color: rgb(70,87,101);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  opacity: 1;
  transition: opacity 1s;
}
.titleText {
  color: rgb(230, 230, 230);
  font-size: 1.5em;
}
.about-section .aboutTitle {
  width: 100%;
}
.about-section .aboutMain {
  height: 90%;
}
