.projects-container {
  width: 100vw;
  height: 600px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.navList {
  width: 20%;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.nav {
  margin-bottom: 5px;
  width: 100%;
  height: 30px;
  transition: opacity .5s;
  opacity: 0;
  position: relative;
}
.projButton {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.navBg {
  height: 100%;
  width: 98%;
  opacity: .7;
  background-color: #FAFAFA;
  position: absolute;
  z-index: -1;
}
.navPacman .navBg {
  width: 100%;
  opacity: 1;
}
.projectDisplayContainer {
  opacity: 0;
  width: 50%;
  height: 100%;
}
