.container {
  margin-top: 3vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.main {
  width: 35%;
  height: 60vh;
  margin-right: 1vw;
}
.aside {
  width: 20%;
  height: 60vh;
  background-color: #FAFAFA;
  transition: .5s;
}
.header {
  width: 100%;
  height: 18%;
  background-color: #FAFAFA;
  display: flex;
  flex-wrap: wrap;
  transition: .5s;
}
.headshot {
  background-image: url('./../../assets/headshot.jpeg');
  background-size: 100% 100%;
  height: 75%;
  width: 15%;
  margin-right: 5%;
}
.headline {
  width: 80%;
  height: 75%;
}
.linkBar {
  width: 100%;
  height: 25%;
  background-color: rgb(41,112,150);
  display: flex;
  justify-content: space-around;
}
.content {
  margin-top: 1%;
  width: 100%;
  height: 60%;
  background-color: #FAFAFA;
  transition: .5s;
}
.skills {
  margin-top: 1%;
  width: 100%;
  height: 20%;
  background-color: #FAFAFA;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  transition: .5s;
}
.skillBox {
  height: 30%;
  width: 30%;
  background-color: rgb(217,217,217);
  display: flex;
  justify-content: center;
  align-items: center;
}
#twitter-widget-0 {
  transition: .5s;
}
